{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="main">
    <section class="about">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 class="section-title">
                        <span>О магазине</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore repudiandae
                        reprehenderit nemo vero temporibus, ab laboriosam dicta esse eligendi ipsum?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati laboriosam, labore
                        rerum minima corporis nulla accusamus facilis fugit unde vero esse quia voluptatum
                        deserunt in maiores aspernatur voluptatibus dolorem.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur excepturi blanditiis,
                        corrupti nobis voluptates culpa nam, consequuntur odio officiis exercitationem corporis
                        debitis aliquid illum tempora facere delectus ipsam! Ipsum, magni?</p>
                </div>
            </div>
        </div>

    </section>
</main>
{% endblock  %}



